{{ form_start(form) }}
     <div class="container ">

        <div class="col">
            {{ form_row(form.email,{'label':'Email'}) }}
        </div>

        <div class="col">
            {{form_row(form.password,{'label':'Mot de passe'})}}
        </div>
    </div>
        <button class="btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}