{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<form method="post" class="justify-content-center text-center text-white">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    
        <div class="col-4 offset-4 my-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="col-4 offset-4 my-4">
            <label for="inputPassword">mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        connection
    </button>
</form>
{% endblock %}
