{% extends 'base.html.twig' %}

{% block title %}Accés refusé{% endblock %}

{% block body %}
    <div class ="text-white text-center align-self-middle">
        <h1>Accés refusé</h1>
        <a href="{{path('home')}}">retour a l'accueil</a>
    </div>
{% endblock %}

