{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{asset('css/style.css')}}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="HomeMessage col text-center">
<h1>Bienvenue sur Streamco</h1>
<img class="Logo" src="{{ asset('images/LogoSymfo.png') }}" alt="Symfony!"/>
<h4 class="MiniMessage">Commencez votre navigation dès maintenant !</h4>
</div>
{% endblock %}