.Logo {
    width: 350px;
    align-items: center;
    padding-top: 3%;
    margin-left: -2%;
}

.HomeMessage {
    color: blanchedalmond;
    padding-top: 5%;
}

.MiniMessage {
    color: blanchedalmond;
    padding-top: 2%;
}

body {
    background-color: rgb(36, 36, 36);
}

footer {
    color: rgb(209, 202, 192);
}