{{ form_start(form) }}
     <div class="container ">
        <div class="col">
            {{ form_row(form.product.name,{'label':'Nom Produit'}) }}
        </div>

         <div class="col">
            {{ form_row(form.product.description, {'label':'Description Produit'}) }}
        </div>

         <div class="col">
            {{ form_row(form.product.price,{'label':'Prix Produit'}) }}
        </div>

         <div class="col">
            {{ form_row(form.product.supplier,{'label':'Fournisseur Produit'}) }}
        </div>

         <div class="col">
            {{ form_row(form.product.webSiteSupplier,{'label':'Site Fournisseur'}) }}
        </div>

        <div class="col">
            {{ form_row(form.name, { 'label': 'Tag' }) }}
         
        </div>
        
    </div>
        <button class="btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
