{% extends 'base.html.twig' %}

{% block title %}Liste produits{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}

<h1 class="text-white text-center">Produits</h1>
    <div class="container">
        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
            <div class="col-12 text-center">
                <a href="{{ path('product_new') }}" class="btn btn-primary btn-lg">AJOUTER</a>
            </div>
        {% endif %}

        <div class="row justify-content-center">
        
        {% for product in products %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h5 class="card-subtitle text-muted small">{{product.price}}$  {{product.supplier}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="row justify-content-around text-center">
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn-primary col-4 btn-lg">SHOW</a>

                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn-primary col-4 btn-lg">EDIT</a>
					{% endif %}
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
{% endblock %}
    

