{% extends 'base.html.twig' %}

{% block title %}Ajout de produits{% endblock %}

{% block body %}

    <div class="card my-3 offset-1 col-10 text-center">
         <h1>Create new Product</h1>

        {{ include('product/_form.html.twig') }}

        <a href="{{ path('product_index') }}">back to list</a>

    </div>
    
{% endblock %}
