{% extends 'base.html.twig' %}

{% block title %}Détail produit
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="card my-3 offset-1 col-10 text-center">

		<h3 class="card-title">{{product.name}}</h3>
		<h5 class="card-subtitle text-muted small">{{product.price}}$
			{{product.supplier}} {{product.webSiteSupplier}}</h5>

		<p class="card-text mt-4">{{product.description}}</p>
		

		<div class="justify-content-center bg-light border border-dark">
			<h5>Tags</h5>
			{% for tag in tags %}
				<p>{{tag.name}}</p>
			{% endfor %}
		</div>

		<div class="row justify-content-around">
			{% if app.user and "ROLE_ADMIN" in app.user.roles %}
				<a href="{{ path('product_edit', {'id': product.id}) }}" class="btn-primary col-4 col-md-2 btn-lg">EDITER</a>
			{% endif %}
			<a href="{{ path('product_index') }}" class="btn-primary col-4 col-md-2 btn-lg">LISTE</a>

		</div>
	</div>


{% endblock %}
