{% extends 'base.html.twig' %}

{% block title %}Liste ventes{% endblock %}

    

{% block body %}
    {{ parent() }}
{% endblock %}


{% block content %}
        <h1 class="text-white text-center">Ventes</h1>
    <div class="container">
        <div class="row justify-content-center">
        {% for sale in pagination %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">
                    <h4 class="card-title">{{sale.customer.lastName}} {{sale.customer.firstName}}</h4>
                    <p> {{sale.dateOfPurchase}}</p>
                    <p>{{sale.amount}}$</p>
                    
                    <a href="{{path("vente_show",{'id': sale.id})}}" class="btn btn-primary">DÉTAIL</a>
                </div>
            </div>
        
        {% endfor %}

            <div class="paginationAffichage">
                <p>{{knp_pagination_render(pagination)}}</p>
            </div>
    </div>
</div>
    
{% endblock %}