{% extends 'base.html.twig' %}

{% block title %}Détail de vente{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}

<h1 class="text-white text-center">Détail vente</h1>
    <div class="container">
    
        <div class="row justify-content-center">

        {% for saleP in sales %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">
                    <h4 class="card-title">{{saleP.product.name}}</h4>
                    <h5 class="card-subtitle text-muted small">{{saleP.product.price}}$</h5>
                    <p> couleur {{saleP.color}}</p>
                    <p> quantité {{saleP.quantity}}</p>
                    <p class="card-text">{{saleP.product.description}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
    