<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
			<link href="{{asset('css/style.css')}}" type="text/css" rel="stylesheet"/>
			<link rel="icon" type="image/x-icon" href="{{ asset('images/LogoSymfo.png') }}" />
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block sidebar %}

				<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
				
					<a class="navbar-brand {% if controller_name == 'HomeController' %}text-primary{% endif %}" href="{{path('home')}}">Accueil</a>	

					<a class="navbar-brand {% if controller_name == 'ProduitsController' %}text-primary{% endif %}" href="{{path('product_index')}}">Produits</a>
					

					{% if app.user and "ROLE_ADMIN" in app.user.roles %}
						<a class="navbar-brand {% if controller_name == 'ClientsController' %}text-primary{% endif %}" href="{{path('clients')}}">Clients</a>
						<a class="navbar-brand {% if controller_name == 'VentesController' %}text-primary{% endif %}" href="{{path('ventes')}}">Ventes</a>	
					{% endif %}	
						
					<ul class="navbar-nav ml-auto">

						

				
						
            		
        			</ul>
					 <form class="form-inline ">
    					{% if app.user == null %}	
                				<a class="btn btn-primary  btn-sm mx-2" href="{{path('app_login')}}">Connexion</a>
            				
								<a class="btn btn-primary  btn-sm mx-2" href="{{path('signin')}}">S'enregistrer</a>
						{% endif %}
						{% if app.user %}
								<span class="navbar-text mx-3">
    								{{app.user.email}}
  								</span>
                				<a class="btn btn-primary  btn-sm" href="{{path('logout')}}">Déconnexion</a>
						{% endif %}
  					</form>
					
				</nav>

			{% endblock %}

      {% block content %}
      
      {% endblock %}

			{% block footer %}
			<footer>
					<!-- Copyright -->
					<div class="footer-copyright text-center py-3">© 2020 Copyright:
							Andréa & Ian
					</div>
					<!-- Copyright -->

				</footer>
				<!-- Footer -->

			{% endblock %}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
