{{ form_start(form) }}
     <div class="container ">
        <div class="col">
            {{ form_row(form.firstName) }}
        </div>

         <div class="col">
            {{ form_row(form.lastName) }}
        </div>

         <div class="col">
            {{ form_row(form.mail) }}
        </div>

         <div class="col">
            {{ form_row(form.phone) }}
        </div>

         <div class="col">
            {{ form_row(form.address) }}
        </div>

        <div class="col">
            {{ form_row(form.city) }}
        </div>

        <div class="col">
            {{ form_row(form.country) }}
        </div>

        

    </div>
        <button class="btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}