{% extends 'base.html.twig' %}

{% block title %}Edit clients {{customer.firstname}} {{customer.lastname}}{% endblock %}

{% block body %}
  {{ parent() }}
{% endblock %}

{% block content %} 
    

    <div class="card my-3 offset-1 col-10 text-center">
        <h1>Édition</h1>

        {{ include('clients/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('product_index') }}">back to list</a>

    </div>
{% endblock %}
