{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

    

{% block body %}
    {{ parent() }}
{% endblock %}


{% block content %}
        <h1 class="text-white text-center">Clients</h1>
    <div class="container">
        <div class="col-12 text-center">
            <a href="{{ path('client_new') }}" class="btn btn-primary btn-lg">AJOUTER</a>
        </div>
        <div class="row justify-content-center">
        {% for customer in pagination %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">

                    <h5 class="card-title">{{customer.lastname}} {{customer.firstname}}</h5>

                    <div>

                        <div class="row">
                            <div class="col-4 text-right"><p class="card-text">mail:</p></div>
                            <div class="col text-left"><p class="card-text">{{customer.mail}}</p></div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-right"><p class="card-text">phone:</p></div>
                            <div class="col text-left"><p class="card-text">{{customer.phone}}</p></div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-right"><p class="card-text">adresse:</p></div>
                            <div class="col text-left"><p class="card-text">{{customer.Address}}</p></div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-right"><p class="card-text">city:</p></div>
                            <div class="col text-left"><p class="card-text">{{customer.city}}</p></div>
                        </div>

                        <div class="row">
                            <div class="col-4 text-right"><p class="card-text">country:</p></div>
                            <div class="col text-left"><p class="card-text">{{customer.country}}</p></div>
                        </div>
                       
                    </div>
                     
                </div>
                <div class="row text-center justify-content-around">
                
                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                        <a href="{{path("client_show",{'id': customer.id})}}" class="btn-primary btn-lg col-4">VENTES</a>
                        <a href="{{path("client_edit",{'id': customer.id})}}" class="btn-primary btn-lg col-4 ">EDIT</a>
                    {% endif %}
                </div>
               
            </div>
        
        {% endfor %}
       
        </div>
        <div class="paginationAffichage row justify-content-center">
            <p>{{knp_pagination_render(pagination)}}</p>
        </div>
    </div>
{% endblock %}