{% extends 'base.html.twig' %}

{% block title %}Ajout client{% endblock %}

{% block body %}

    <div class="card my-3 offset-1 col-10 text-center">
         <h1>Ajouter un client</h1>

        {{ include('clients/_form.html.twig') }}

        <a href="{{ path('clients') }}">back to list</a>

    </div>
    
{% endblock %}
