{% extends 'base.html.twig' %}

{% block title %}Détail de vente{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %} 

 <h1 class="text-white text-center">Achats de {{sales[0].sale.customer.firstname}}</h1>
    <div class="container">
            <div class="row justify-content-center">
        {% for sale in sales %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">
                    <h5>Achats de {{sale.quantity}} {{sale.product.name}} </h5>
                    <p class="">Couleur {{sale.color}}</p>
                    <p> Prix unitaire: {{sale.product.price}}$</p>
                    
                </div>
                <div class="row justify-content-around text-center">
                    <a href="{{path("client_show",{'id':sale.sale.customer.id})}}" class="btn-primary btn-lg col-4">VENTES</a>
                    <a href="{{path("clients")}}" class="btn-primary btn-lg col-4">LISTE</a>
                </div>
                
            </div>
        
        
        {% endfor %}
{% endblock %}
