{% extends 'base.html.twig' %}

{% block title %} Achats de {{sales[0].customer.firstname}} {{sales[0].customer.lastname}}{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %} 

 <h1 class="text-white text-center">Achats de {{sales[0].customer.firstname}} {{sales[0].customer.lastname}}</h1>
    <div class="container">
            <div class="row justify-content-center">
        {% for sale in sales %}
        
            <div class="mx-2 my-2 card col-10 col-md-5">

                <div class="card-body">
                    <h5>Achats du {{sale.dateOfPurchase}} </h5>
                    <p class="card-title">Montant de {{sale.amount}}$</p>
                    
                </div>
                <div class="row justify-content-around text-center">
                    <a href="{{path("vente_detail",{'id': sale.id})}}" class="btn-primary btn-lg col-4">DÉTAIL</a>
                    <a href="{{path("clients")}}" class="btn-primary btn-lg col-4">LISTE</a>
                </div>
                
            </div>
        
        
        {% endfor %}
{% endblock %}
